{% macro team_signature() %}
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Team KiwiQ AI</p>
{% endmacro %}

{% macro happy_creating_signature() %}
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Happy content creating!</p>
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Team KiwiQ AI</p>
{% endmacro %}

{% macro keep_up_great_work_signature() %}
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Keep up the great work!</p>
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Team KiwiQ AI</p>
{% endmacro %}

{% macro render_signature(signature_text) %}
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">{{ signature_text }}</p>
{% endmacro %} 
